@font-face {
  font-family: 'Gotham Rounded';
  src: url('../assets/fonts/gotham rounded/GothamRnd-Light.otf')  format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../assets/fonts/gotham rounded/GothamRnd-Bold.otf')  format('opentype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Ropa Soft Pro';
  src: url('../assets/fonts/Ropa Soft/Fonts/RopaSoftPro-ExtraBold.otf')  format('opentype');
  font-style: normal;
  font-weight: bold;
}

body {
  padding: 0px;
  font-family: 'Gotham Rounded';
  background-image: url('../assets/fondo-hd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
}

.navbar {
  background-size: cover;
  height: 110px;
}

#logo img{
  margin: 20px 0 0 0;
  max-width: 300px;
}

#menu-nav {
  margin: 40px 0 0 0;

}

#menu-nav a {
  font-family: 'Ropa Soft Pro';
}

.navbar .nav li {
  margin: 10px 0 0 30px;
}

.navbar .nav li a {
  color: white;
	text-transform: uppercase;
	font-size: 20px;
  font-weight: bold;
	opacity: 0.8;
	background: rgba(255,255,255,0);
}

.navbar .nav li a:hover {
	opacity: 1;
}

.carousel-inner img {
  margin: auto;
}

.item img {
  width: 100%;
  margin: -10% 0;
}

#info-div {
  background-color: white;
}

#amaranta {
  margin: 0 10% 0 10%;
  padding: 50px 0 0 0;
}

p {
  font-size: 20px;
}

#nuestra {
  margin: 0 10% 0 10%;
  padding: 25px 0 25px 0;
}

#footer {
  margin: 10px;
  text-align: center;
  color: white;
}

#footer p {
  font-size: 15px;
}

#donar {
  text-align: center;
}

.modal-dialogue {
  display: inline-block;
  padding-top: 110px;
}

.modal-content {
  width: 900px;
  min-height: 500px;
  background-image: url('../assets/fondo-donacion.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  display: inline-block;
}

.modal-body {
  margin-top: 50px;
}

#donaciones {
  display: inline-block;
  margin: 10px;
}

.donaciones1 {
  width: 519px;
  background-image: url('../assets/donacion-chica.png');
  background-size: 100% 100%;
}

.donaciones2 {
  width: 783px;
  background-image: url('../assets/donacion-grande.png');
  background-size: 100% 100%;
}

#donaciones h3 {
  padding: 5px;
}

#donaciones button {
  margin: 5px;
  margin-bottom: 15px;
  background: none;
  border: none;
}

#donaciones button:hover {
  transform: scale(1.10);
}
a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}
